ion-title {
  text-align: center;
  font-weight: bold;
  padding-inline-start: 0%;
}
ion-button {
  font-weight: bold;
  text-transform: none;
}
.error-message
{
 color: var(--ion-color-danger);
}
.submit-btn
{
  margin-top: 40px;
}

