<!--HEADER-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
<!--CONTENT-->
<ion-content padding class="form-content">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
    <!--EMAIL-->
    <ion-item>
      <ion-label position="floating" color="primary">Correo Electrónico</ion-label>
      <ion-input type="text" (click)="quitarMsgErr()" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!--CONTRASEÑA-->
    <ion-item>
      <ion-label position="floating" color="primary">Contraseña</ion-label>
      <ion-input type="password" (click)="quitarMsgErr()" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!--BOTON-->
    <div class="boton">
      <ion-button expand="block" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Iniciar sesión
      </ion-button>
    </div>
    <label class="error-message">{{errorMessage}}</label>
  </form>
</ion-content>