<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
      <ion-card>
        <p><b>Nombre: </b>{{ nombre }}</p>
        <p><b>Apellido:</b> {{ apellido }}</p>
        <p><b>Correo Electrónico: </b>{{ email }}</p>
        <p><b>Fecha de Nacimiento:</b> {{ fecha }}</p>
        <p><b>Género: </b></p>
      </ion-card>

</ion-content>