<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="titulo">
    <h2>Formulario</h2>
  </div>
  <h5>Respuesta #1:<span>{{ respuesta1 }}</span></h5>
  <h5>Respuesta #2:<span>{{ respuesta2 }}</span></h5>
  <h5>Respuesta #3:<span>{{ respuesta3 }}</span></h5>


  <div class="titulo">
    <h2>Datos personales</h2>
  </div>

  <h5>Nombre: <span>{{ nombre }}</span></h5>
  <h5>Apellido:<span> {{ apellido }}</span></h5>
  <h5>Correo Electrónico: <span>{{ email }}</span></h5>
  <h5>Fecha de Nacimiento:<span> {{ fecha }}</span></h5>
  <h5>Género: <span>{{gender}}</span></h5>


</ion-content>