<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="titulo">
    <h2>Formulario</h2>
  </div>
  <h5>Respuesta #1:<span><br>{{ respuesta1 }}</span></h5>
  <h5>Respuesta #2:<span><br>{{ respuesta2 }}</span></h5>
  <h5>Respuesta #3:<span><br>{{ respuesta3 }}</span></h5>
  <h5>Respuesta #4:<span><br>{{ respuesta4 }}</span></h5>
  <h5>Respuesta #5:<span><br>{{ respuesta5 }}</span></h5>


  <div class="titulo">
    <h2>Datos personales</h2>
  </div>
  
  <h5>Nombre: <span><br>{{ nombre }}</span></h5>
  <h5>Apellido: <span><br>{{ apellido }}</span></h5>
  <h5>Correo Electrónico: <span><br>{{ email }}</span></h5>
  <h5>Fecha de Nacimiento:<span><br>{{ fecha }}</span></h5>
  <h5>Género: <span><br>{{gender}}</span></h5>

</ion-content>