<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (click)="fun()">
  <div class="titulo">
    <h2>Formulario</h2>
  </div>
  <ion-list padding>
    <ion-item>
      <ion-icon name="help" slot="start"></ion-icon>
      <div>
        <h6 stacked>¿Qué conjunto de habilidades necesitamos en nuestro equipo?</h6>
        <ion-textarea [(ngModel)]="datos.respuesta1" required clearinput rows="1" cols="5"
          placeholder="Escribe aquí...">
        </ion-textarea>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(6)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="help" slot="start"></ion-icon>
      <div>
        <h6 stacked>¿Estamos siguiendo nuestros ideales?</h6>
        <ion-textarea [(ngModel)]="datos.respuesta2" required rows="1" cols="5" placeholder="Escribe aquí...">
        </ion-textarea>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(7)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="help" slot="start"></ion-icon>
      <div>
        <h6 stacked>¿Cómo es tu equilibrio de trabajo y vida?</h6>
        <ion-textarea [(ngModel)]="datos.respuesta3" required rows="1" cols="5" placeholder="Escribe aquí...">
        </ion-textarea>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(8)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="help" slot="start"></ion-icon>
      <div>
        <h6 stacked>¿Te gusta lo que haces?</h6>
        <ion-textarea [(ngModel)]="datos.respuesta4" required rows="1" cols="5" placeholder="Escribe aquí...">
        </ion-textarea>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(9)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="help" slot="start"></ion-icon>
      <div>
        <h6 stacked>¿Hay alguna pregunta que no hicimos, pero deberíamos haber hecho?</h6>
        <ion-textarea [(ngModel)]="datos.respuesta5" required rows="1" cols="5" placeholder="Escribe aquí...">
        </ion-textarea>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(10)"></ion-icon>
    </ion-item>
  </ion-list>


  <div class="titulo2">
    <h2>Datos personales</h2>
  </div>
  <ion-list padding>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <div>
        <h5 stacked>DNI</h5>
        <ion-input type="text" id="dni" name="dni" [(ngModel)]="datos.dni" required clearinput placeholder="DNI"
          slot="start">
        </ion-input>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(0)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <div>
        <h5 stacked>Nombre</h5>
        <ion-input type="text" id="name" name="name" [(ngModel)]="datos.nombre" required clearinput placeholder="Nombre"
          slot="start">
        </ion-input>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(1)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <div>
        <h5 stacked>Apellidos</h5>
        <ion-input [(ngModel)]="datos.apellido" required clearinput placeholder="Apellido"></ion-input>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(2)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <div>
        <h5 stacked>Correo electrónico</h5>
        <ion-input type="email" [(ngModel)]="datos.email" required clearinput placeholder="Correo electrónico">
        </ion-input>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(3)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <div>
        <h5 stacked>F. Nacimiento</h5>
        <ion-datetime slot="start" displayFormat="DD-MM-YYYY" [(ngModel)]="datos.fecha" required
          placeholder="DD-MM-YYYY">
        </ion-datetime>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(4)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <div>
        <h5 stacked>Género</h5>
        <ion-select required [(ngModel)]="datos.genero" cancelText="Nah" okText="Okay!" placeholder="Elige tu género">
          <ion-select-option>Hombre</ion-select-option>
          <ion-select-option>Mujer</ion-select-option>
        </ion-select>
      </div>
      <ion-icon class="borrar" name="backspace" slot="end" (click)="borrarTxt(5)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none">
      <ion-checkbox (click)="isChecked($event)"></ion-checkbox>
      <ion-label padding>Aceptar términos</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardar()" id="btn" name="btn" disabled>Enviar formulario</ion-button>

</ion-content>