<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="question">
      <ion-icon name="help" slot="start"></ion-icon>
      <ion-label stacked>Cual?</ion-label>
      <ion-textarea required rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>

  </ion-list>


  <ion-card>
    <ion-card-header><b>Datos de Empleado</b></ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label stacked>Nombre:</ion-label>
        <ion-input [(ngModel)]="nombre" clearinput placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label stacked>Apellidos:</ion-label>
        <ion-input [(ngModel)]="apellido" clearinput placeholder="Apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label stacked>C. electrónico:</ion-label>
        <ion-input type="email" [(ngModel)]="email" clearinput placeholder="Correo electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label stacked>F. Nacimiento:</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="fecha" placeholder="DD-MM-YYY">
        </ion-datetime>
      </ion-item>
      <ion-row radio-group>
        <ion-col>
          <ion-item>
            <ion-icon name="man" item-start></ion-icon>
            <ion-label>Hombre</ion-label>
            <ion-radio value="1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Mujer</ion-label>
            <ion-radio value="2"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card>
  <ion-button expand="full" (click)="enviarFormulario()">Enviar formulario</ion-button>

</ion-content>