<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
    <h2>Formulario</h2>
  </div>
  <ion-list padding>
    <ion-item>
      <h5>#1 <span>¿Que cambiarías del horario de trabajo actual de la empresa?</span></h5>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="respuesta1" required rows="2" cols="5" placeholder="Escribe aquí..."></ion-textarea>
    </ion-item>
    <ion-item>
      <h5>#1 <span>¿Que cambiarías del horario de trabajo actual de la empresa?</span></h5>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="respuesta2" required rows="2" cols="5" placeholder="Escribe aquí..."></ion-textarea>
    </ion-item>
    <ion-item>
      <h5>#1 <span>¿Que cambiarías del horario de trabajo actual de la empresa?</span></h5>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="respuesta3" required rows="2" cols="5" placeholder="Escribe aquí..."></ion-textarea>
    </ion-item>
  </ion-list>


  <div class="titulo2">
    <h2>Datos personales</h2>
  </div>
  <ion-list padding>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <div>
        <h5 stacked>Nombre</h5>
        <ion-input [(ngModel)]="nombre" required clearinput placeholder="Nombre"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <div>
        <h5 stacked>Apellidos</h5>
        <ion-input [(ngModel)]="apellido" required clearinput placeholder="Apellido"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <div>
        <h5 stacked>Correo electrónico</h5>
        <ion-input type="email" [(ngModel)]="email" required clearinput placeholder="Correo electrónico"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <div>
        <h5 stacked>F. Nacimiento</h5>
        <ion-datetime slot="start" displayFormat="DD-MM-YYYY" [(ngModel)]="fecha" required placeholder="DD-MM-YYYY">
        </ion-datetime>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <div>
        <h5 stacked>Género</h5>
        <ion-select [(ngModel)]="gender" cancelText="Nah" okText="Okay!" placeholder="Elige tu género" expand="full">
          <ion-select-option>Papá</ion-select-option>
          <ion-select-option>Mamá</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="enviarFormulario()" id="button" >Enviar formulario</ion-button>

</ion-content>